/* CSS Document */
body{
/*	background-color: #FFFFFFFF;*/
	/*background-image: -webkit-linear-gradient(270deg,rgba(65,72,176,1.00) 0%,rgba(6,12,96,1.00) 100%,rgba(76,84,196,1.00) 100%);
	background-image: linear-gradient(180deg,rgba(65,72,176,1.00) 0%,rgba(6,12,96,1.00) 100%,rgba(76,84,196,1.00) 100%);*/
	
}

/* Adjust the height of logo */
.navbar-brand{
    height: 75pt; 
}

.jumbotron{
	background-color: #83090B !important;
/*	background-image: url(../images/jumbo.jpg);*/
	background-image: url("jumbo2.png");
}


/* Btn Primary */
.btn-primary{
    background-color: #C80000;
    border-color: #C80000;
}

.btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #9E0000;
    border-color: #660000;
    box-shadow: 0 0 0 0.2rem rgba(255,55,55,0.50);
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255,55,55,0.50);
}

.btn-primary:hover {
    color: #fff;
    background-color: #FF1E1E;
    border-color: #FF1E1E;
}

.btn-primary-success {
    color: #fff;
    background-color: #A72727;
    border-color: #A72727;
}

/* Btn Success */
.btn-success{
    background-color: #9A7438;
    border-color: #B9904F;
}

.btn-success:focus, .btn-primary.focus {
    color: #fff;
    background-color: #9A7438;
    border-color: #B9904F;
    -webkit-box-shadow: 0 0 0 0.2rem rgba(100,76,15,0.50);
    box-shadow: 0 0 0 0.2rem rgba(100,76,15,0.50);
}

.btn-success:hover {
    color: #fff;
    background-color: #D09B4E;
    border-color: #D09B4E;
}

.btn-success.disabled, .btn-primary:disabled {
  color: #fff;
  background-color: #9A7438;
    border-color: #B9904F;
}

.btn-success:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #9A7438;
    border-color: #B9904F;
}

.btn-success:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(255,199,37,0.50);
    -webkit-box-shadow: 0 0 0 0.2rem rgba(255,199,37,0.50);
}



/* Navbar Animation styles */
.navbar{background:#222222;}
.nav-item::after{content:'';display:block;width:0px;height:2px;background:#D50000;transition: 0.2s;}
.nav-item:hover::after{width:100%;}
.navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link,.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
    color: #D50000;
}
.nav-link{padding:15px 5px;transition:0.2s;}
.dropdown-item.active, .dropdown-item:active{color:#212529;}
.dropdown-item:focus, .dropdown-item:hover{background:#D50000;}


/* Used to center images */
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
}

.tagline {
    font-family: abel;
    font-style: normal;
    font-weight: 400;
    font-size: 450%;
}

.logo {
    margin-bottom: 20pt;
}

.text-gold {
    color: #C59F61 !important;
}



	








/* Button Styles */
.btnWidth {
	width: 60% !important;
	height: 100% !important;
}
