/* stylelint-disable selector-list-comma-newline-after */
body{
	padding-top: 7em;
}

/* Make the form default to not show */
#blog_container{
    display: none;
    /*display: block; */
}

#menu
{
  cursor: pointer;
}
#dropDownMenu
{
  display: none;
}

#dropDownMenu.show
{
  display: block;
}

#featuredBlog
{
  height: 500px;
}

.form-group{
	padding-top: 1.1em;
}

.btn-outline-primary{

	color:#fff;
	background-color:#8C6423;
	border-color:transparent;
}

.btn-outline-primary:hover{
	color:#fff;
	background-color:#B57F27;
	border-color:transparent;
}

.btn-outline-primary.show
{
  cursor: not-allowed;
  color: black;
  background-color: transparent;
  border-color: black;

}

.btn-outline-secondary{
	color:#fff;
	background-color:#8C6423;
	border-color:transparent;
}

.btn-outline-secondary:hover{
	color:#fff;
	background-color:#B57F27;
	border-color:transparent;
}

.btn-outline-secondary.show
{
  cursor: not-allowed;
  color: black;
  background-color: transparent;
  border-color: black;

}


text-primary{
	color: #8C6423;

}

.blog {
/*	color: #0D79C8 !important;*/
	color: #8C6423;
}


.blogAbout{
	background-color: #C3C3C3;
}

.rssIcon{
	padding-right: 0.6em;
	padding-bottom: 0.3em;
	opacity: 0.7;
}

.topic-type{
	color:#8C6423;
}


.blog-header {
  line-height: 1;
  border-bottom: 6px solid #e5e5e5;
}

.blog-header-logo {
	font-family: 'Bebas Neue', serif;
  /*font-family: "Playfair Display", Georgia, "Times New Roman", serif;*/
  font-size: 4rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
}

.display-4 {
  font-size: 2.5rem;
}

.container-fluid{
	width: 75%;
}



.mainText{
	font-family: 'Roboto', sans-serif;
}

@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-scroller .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
}

.card-img-right {
  height: 100%;
  border-radius: 0 3px 3px 0;
}

.flex-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.h-250 { height: 250px; }
@media (min-width: 768px) {
  .h-md-250 { height: 250px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}
.blog-pagination > .btn {
  border-radius: 2rem;
}

/*
 * Blog posts
 */

.featuredPost{
	font-family: 'Bebas Neue', serif;
	font-size: 2.3em;
}

.mb-0{
	font-family: 'Bebas Neue', serif;
}

.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  font-family: 'Bebas Neue', serif;
  margin-bottom: .25rem;
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #5C5C5C;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}
.continueReading {
	font-family: 'Lato', serif;
	font-size: 1em;
}

@media screen and (max-width:990px){

	.blog-header-logo{
	 	font-size: 3em;
	}

	.mx-3{

	margin:0;
}

	body{

	padding-top: 9em;
}

.date
{
  display: flex;
  flex-direction: column;
}


#dropDown
{
  margin: 0;
  padding: 0;
}

#dropDownMenu
{
  max-height:40px;/*The important part*/
  overflow-y:auto;/*Also...*/
  overflow-x:hidden;/*And the end of the important part*/
}


}
