.text-dark{
    letter-spacing: -4px;
}

.about-h2{
    font-family: 'Bebas Neue', serif;
}

.top-pad{
    padding-top: 5em;
}

.donate-icon{
    font-size: 1.4em !important;
    vertical-align: top !important;
}