
.dateNews {
/*	font-family: blinker, sans-serif;*/
	font-family: 'Eczar', serif;
	font-size: 3.5em;
	font-weight: 700;
	color: #343434;
}




.text-muted{
	font-family: 'Roboto', sans-serif;
	font-size: 0.9em;
}

@media screen and (max-width:768px){
	.blog-header-logo{
		font-size: 2.7em;
	}
	
}

@media (max-width: 557px){
	.blog-header-logo{
		font-size: 3em;
	}
	
	.rssIcon{
		padding:0;
	}
	
	.text-muted{
		padding: 0;
		font-size: 0.68em;
		font-weight: bolder;
	}
	
	
	
	.blog-header{
		padding-left:unset;
		padding-right: 6em;
	}
	
	.mx-3{
	   visibility: hidden;
	}
	
}
